.main{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #0B1320 ;
    color: #FFFFFF;
    width: 100%; 
    height: 100%;
    float: center;

}
.Button{ 
    color: aqua;
    background-color: transparent;
    border-color: aqua;
    border-radius: 20px;
    font-size: 15px;
    padding: 8px;
    border-width: 1px;  
    float: center;
  
}

imageStyles{

width: 200px;

}


.select-container {
    position: relative;
    display: inline-block;
   
  }
  
  .custom-select {
    width: 150px;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 4px;
    background-color: transparent;
    color: aqua;
  }
  
  /* Estilize a seta do dropdown */
  .custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }