
header {
  align-self:center;  
  height: 80px;
  width: 80%;
  border-radius: 90px;
  margin: 0;
  padding: 0;
  font-family: 'elephant';
  background-color:#0B1320 ;
  box-shadow: 1px 2px 2px aqua ;
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  padding:0 ;
  gap: 40px;
}
  
  
.logo {
  max-width: 200px;
  height: auto;
}

  
  
  .search-bar {
    display: flex;
    align-items: center;
    border: none; 
    border-radius: 20px; 
    padding: 10px;
    height: 30px;
  
  .search-bar input[type="text"] {
  width: 300px;
  border: 2px solid aqua;; 
  padding: 10px; 
  font-size: 16px; 
  background-color: transparent; 
  color: aqua; 
  outline: none; 
    }
  }
  
  .search-bar button {
  background-color: transparent;
  color:aqua;
  border: 2px solid aqua;
  border-radius: 20px;
  padding: 8px 16px;
  margin-left: 10px; /* Espaçamento entre o input e o botão */
  cursor: pointer;
  font-size: 16px;

  }
  
  
  .menu ul {
    list-style: none; 
    display: flex;
  }
  
  .menu li {
    margin-right: 20px; 
  }
  
  .menu a {
    text-decoration: none; 
    font-size: 20px;
    color: #fff; 
    font-weight: bold; 
  }