.Filme{
    color: white;
    height: 70%;
    border-radius: 12%;
    background-color: #1C3F60;
    align-items: center;
    width: 250px;
    height: 400px;    
    margin: 8px;
    margin-bottom: 15px;
    text-decoration: none;
   
}

